*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/lotus-flowers-floating-on-a-calm-pond.jpg);
    background-size:100%;

}
nav {
    width:100%;
}
.title {
    display: grid;
    color:rgb(241, 239, 242);
   text-align: center;
   font-size:large;
   font-weight: bold;
-webkit-text-stroke: 1px rgb(63, 61, 63);
}
.about-container {
    width: 90%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50%, auto);
    align-content:center;
    gap: 5px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
}
.image{
    width:300px; 
    height:auto; 
    border-radius: 15px; 
    border-color: blueviolet; 
    border-width: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin-left: 50px;
    
}
.description {
    width: 95%;
    background-color: rgba(211, 199, 211, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    padding: 18px;
    margin-right: 10px;
    box-sizing: content-box;

}
.description p{
    font-family: Poppins;
    font-size: 13px;
    color:rgb(33, 35, 36);
    text-align: justify;
    font-size: 0.7em;
    
    
}

/* @media queries */
/* CELULARES */
@media screen and (max-width: 100%) {
    .logo{
        display: none;
    }
    .main{
        grid-template-columns: repeat(1,1fr);
    }
    .nav{
        grid-template-columns: repeat(1,1fr);
    }
    .body{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 767px) {
    /* Estilos para pantallas de hasta 767px */
    body {
      font-size: 14px;
    }
    .about-container {
        width: 90%;
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        font-size: 1em;

    }
    .image {
        width:150px;
        margin-left: 20px;
    }
    .description {
        width: 150px;
    }
    nav {
        font-size: 0.8em;
    }

}
/* TABLETS */
@media screen and (min-width: 641px) and (max-width: 1280px) {
    main{
        grid-template-columns: repeat(3,1fr);
    }
    body{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para pantallas entre 768px y 1023px */
    .container {
      width: 75%;
      margin: 0 auto;
    }
    /* Otros estilos específicos para tablets */
  }

  @media (min-width: 768px) and (orientation: landscape) {
    /* Estilos para tablets en modo horizontal */
  }

/* PANTALLAS GRANDES */
@media screen and (min-width: 1281px) {
    main{
        grid-template-columns: repeat(5,1fr);
    }
    body{
        grid-template-columns: repeat(5,1fr);
    }
}
@media (min-width: 1024px) {
    /* Estilos para pantallas de 1024px en adelante */
    .container {
      width: 960px;
      margin: 0 auto;
    }
    /* Otros estilos específicos para escritorio */
  }