*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color:rgb(183, 125, 237);

    background-size:100%;
}
.clases-main {
    background-image: url(../img/lotus-flowers-floating-on-a-calm-pond.jpg);

}
main h3{
    font-family: Poppins;
    padding-left: 10px;
    color: rgb(228, 215, 240);
    background-color: rgb(141, 59, 230);
}


.grid-clases-container {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    border-radius: 10px;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-color: rgba(211, 199, 211, 0.3) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    width:fit-content;
    padding: 10px;
    max-width: 80%;


}
.grid-clases-container img{
    width: 100%;
    box-sizing: border-box;
    margin:10px;
    border-radius: 15px;
}



/* @media queries */
/* CELULARES */
@media screen and (max-width: 100%) {
    .logo{
        display: none;
    }
    .main{
        grid-template-columns: repeat(1,1fr);
    }
    .nav{
        grid-template-columns: repeat(1,1fr);
    }
    .body{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 767px) {
    /* Estilos para pantallas de hasta 767px */
    body {
      font-size: 14px;
    }
    .grid-clases-container{
      width: 90%;
      margin: 0 auto;
      grid-template-columns:repeat(1,1fr);
      gap:10px;
      justify-items: center;
      align-items: center;
  
     
    }
    .grid-class-item {
        display: grid;
        gap: 10px;
        text-align: center;

    }
    .grid-class-item img{
        margin-right:auto;
        margin-left: auto;
        border-radius: 20px;
        text-align: center;
    }
}

    .titulo h2{
        font-size: 30px;
    }
/* TABLETS */
@media screen and (min-width: 641px) and (max-width: 1280px) {
    .main{
        grid-template-columns: repeat(3,1fr);
    }
    .body{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para pantallas entre 768px y 1023px */
    .container {
      width: 75%;
      margin: 0 auto;
    }
    /* Otros estilos específicos para tablets */
  }

  @media (min-width: 768px) and (orientation: landscape) {
    /* Estilos para tablets en modo horizontal */
  }

/* PANTALLAS GRANDES */
@media screen and (min-width: 1281px) {
    .main{
        grid-template-columns: repeat(5,1fr);
    }
    .body{
        grid-template-columns: repeat(5,1fr);
    }
}
@media (min-width: 1024px) {
    /* Estilos para pantallas de 1024px en adelante */
    .container {
      width: 960px;
      margin: 0 auto;
    }
    /* Otros estilos específicos para escritorio */
  }