*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/lotus-flowers-floating-on-a-calm-pond.jpg);
    background-size:100%;
}
.titu

.grid-clases-container {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1, 1fr;
    gap:30px;
    justify-items: center;
    align-items: center;

}
.grid-clases-container h2{
    font-family: Poppins;
    padding-left: 10px;
    color: rgb(228, 215, 240);
    background-color: rgb(141, 59, 230);
}
.grid-class-item {
    border-radius:10px;
    padding-left: 60px;

    padding-top: 30px;
    padding-bottom: 30px;

    background-color: rgba(211, 199, 211, 0.3) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

    margin:10px;


}
.grid-class-item img{
    padding-right:20px;
    padding-left: 20px;
    border-radius: 25px;

}

/* @media queries */
/* CELULARES */
@media screen and (max-width: 100%) {
    .logo{
        display: none;
    }
    .main{
        grid-template-columns: repeat(1,1fr);
    }
    .nav{
        grid-template-columns: repeat(1,1fr);
    }
    .body{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 767px) {
    /* Estilos para pantallas de hasta 767px */
    body {
      font-size: 14px;
    }
    .container {
      width: 90%;
      margin: 0 auto;
    }
}
/* TABLETS */
@media screen and (min-width: 641px) and (max-width: 1280px) {
    .main{
        grid-template-columns: repeat(3,1fr);
    }
    .body{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para pantallas entre 768px y 1023px */
    .container {
      width: 75%;
      margin: 0 auto;
    }
    /* Otros estilos específicos para tablets */
  }

  @media (min-width: 768px) and (orientation: landscape) {
    /* Estilos para tablets en modo horizontal */
  }

/* PANTALLAS GRANDES */
@media screen and (min-width: 1281px) {
    .main{
        grid-template-columns: repeat(5,1fr);
    }
    .body{
        grid-template-columns: repeat(5,1fr);
    }
}
@media (min-width: 1024px) {
    /* Estilos para pantallas de 1024px en adelante */
    .container {
      width: 960px;
      margin: 0 auto;
    }
    /* Otros estilos específicos para escritorio */
  }