*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(183, 125, 237);
    background-size:100%;

}
.mind-main {
    width: 100%;
    background-image: url(../img/lotus-flowers-floating-on-a-calm-pond.jpg);
}
.title {
    display: grid;
    color:rgb(241, 239, 242);
   text-align: center;
   font-size:x-large;
   font-weight: bold;
-webkit-text-stroke: 1px rgb(63, 61, 63);
}
.citas {
    color:blue;
    font-size: 18px;
    text-align: end;
    padding-right: 15px;
    padding-top:15px;
    padding-bottom: 15px;
}
.description-container {
    padding: 30px;
    margin-top:10px;
    margin-left: 85px;
    margin-right: 85px;
    background-color: rgba(211, 199, 211, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.description-container p{
    font-family: Poppins;
    font-size: 13px;
    color:rgb(33, 35, 36);
    text-align: justify;
    
    
}
.description-container h2{
    color:rgb(33, 35, 36);
    margin-top: 1px;
    margin-bottom: 1px;
}
.grid-audio-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    grid-auto-rows: minmax(100px, auto);
    align-items:baseline;
    margin-left: 15px;
    margin-right: 15px;
}
.grid-audio-item {
   
    padding: 20px;
    margin: 10px;
    border-color: rgb(18, 19, 19);
    font-size: 0.7em;
    text-align:justify;
    border-radius: 8px;
    font-family: "Poppins" ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    color:rgb(8, 9, 10);
    font-weight: bold ;
    background-color: rgba(211, 199, 211, 0.5);
    height: 330px;
    width:245 ;
    text-align: center;

}
#audio-container {
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
}
#audio-container audio {
    width: 100%;
}

.fuentes {
    font-size: 5px;
    font-weight: 100;
    font-family: Poppins
}


/* @media queries */
/* CELULARES */
@media screen and (max-width: 100%) {
    .logo{
        display: none;
    }
    .main{
        grid-template-columns: repeat(1,1fr);
    }
    .nav{
        grid-template-columns: repeat(1,1fr);
    }
    .body{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 767px) {
    /* Estilos para pantallas de hasta 767px */
    body {
      font-size: 10px;
    }
    .description-container {
      width: 90%;
      margin: 0 auto;
    }
    .description-container p{
        font-size: smaller;
    }
    .grid-audio-container{
        grid-template-columns: repeat(1,1fr);
    }
    .citas {
        font-size: 12px;
        text-align: end;
        padding-right: 10px;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .title {
        display: grid;
       text-align: center;
       font-size:large;
    }
}
/* TABLETS */
@media screen and (min-width: 641px) and (max-width: 1280px) {
    .main{
        grid-template-columns: repeat(3,1fr);
    }
    .body{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para pantallas entre 768px y 1023px */
    .container {
      width: 75%;
      margin: 0 auto;
    }
    /* Otros estilos específicos para tablets */
  }

  @media (min-width: 768px) and (orientation: landscape) {
    /* Estilos para tablets en modo horizontal */
  }

/* PANTALLAS GRANDES */
@media screen and (min-width: 1281px) {
    .main{
        grid-template-columns: repeat(5,1fr);
    }
    .body{
        grid-template-columns: repeat(5,1fr);
    }
}
@media (min-width: 1024px) {
    /* Estilos para pantallas de 1024px en adelante */
    .container {
      width: 960px;
      margin: 0 auto;
    }
    /* Otros estilos específicos para escritorio */
  }